@using WebApp.Models
@model WebApp.Models.ServiceSearchVM
@{
    ViewBag.Title = "Service search";
    var pageSizeList = new List<SelectListItem>
    {
        new SelectListItem { Value = "10", Text = "10" },
        new SelectListItem { Value = "20", Text = "20" },
        new SelectListItem { Value = "50", Text = "50" }
    };
}

<h2 class="mb-4">Search for professionals services</h2>
<p>Number of Service types: @(Model.ServiceTypes == null ? "null" : Model.ServiceTypes.Count.ToString())</p>
<p>Number of cities: @(Model.Cities == null ? "null" : Model.Cities.Count.ToString())</p>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="m-3 text-end">
        <a asp-action="Create" asp-controller="Service" class="btn btn-primary mb-3">
            + Add Service
        </a>
    </div>
    <div class="col-md-4">
        <a asp-action="Index" asp-controller="ServiceType" class="btn btn-primary mb-3">
            Manage service types
        </a>
    </div>
}

@using (Html.BeginForm("Search", "Service", FormMethod.Post))
{
    <div class="col-md-12 d-flex gap-5">
        <div class="d-flex f-direction:row text-nowrap m-3 gap-3">
            <label asp-for="SelectedServiceTypeName" class="form-label"></label>
            @Html.DropDownListFor(
                              m => m.SelectedServiceTypeName,
                              new SelectList(
                              Model.ServiceTypes,
                              "ServiceTypeName", "ServiceTypeName", Model.SelectedServiceTypeName),
                              "-- Select Service Type --",
                                new { @class = "form-select" }

                              )
        </div>
        <div class="d-flex f-direction:row text-nowrap m-3 gap-3">
            <label asp-for="SelectedCityId" class="form-label"></label>
            @Html.DropDownListFor(
                              m => m.SelectedCityId,
                              new SelectList(Model.Cities, "Idcity", "Name", Model.SelectedCityId),
                              "-- Select City --",
                              new {@class="form-select col-md-6"}
                              )
        </div>
        <div class="col-md-2 d-flex f-direction:row text-nowrap m-3">
            <select asp-for="PageSize"
                    asp-items="pageSizeList"
                    name="PageSize"
                    class="form-select"
                    onchange="this.form.submit()"
                    data-pagesize="@pageSizeList"></select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-100 mb-3 mt-3">Search</button>
        </div>
    </div>
<div id="serviceTableContainer">
    <partial name="_ServiceTablePartial" model="Model" />
</div>
}

@section Scripts {
    <script>
         $('#serviceTableContainer').on('click', '.page-ajax', function (e) {
            e.preventDefault();

            var page = $(this).data('page');
            var pageSize = $(this).data('pagesize');
            var selectedServiceTypeName = $('select[name="SelectedServiceTypeName"]').val();
            var selectedCityId = $('select[name="SelectedCityId"]').val();
            console.log("serviceTableContainer")

            $.ajax({
                url: '@Url.Action("Search", "Service")',
                type: 'POST',
                data: {
                    SelectedServiceTypeName: selectedServiceTypeName,
                    SelectedCityId: selectedCityId,
                    page,
                    pageSize,
                    partial: true
                },
                success: function (result) {
                    $('#serviceTableContainer').html(result);
                },
                error: function (xhr) {
                    console.error("Pagination AJAX error:", xhr.responseText);
                }
            });
        });
    </script>
}